CMakeFiles/
Debug/
Bin/
*.cmake
*.db
CMakeCache.txt
*.csv
*.wav
*.raw
*.hap
*.prop
*.pyc
data/
*~
*.class
.project
.cproject
.metadata/
Makefile
deneme/
.project
.classpath
.settings/
bin/
input
data
distance.txt
similarity.txt
*.pyc
